.navbar{
    width: 100%;
    background-color: rgb(115, 81, 131);
    padding: 25px;
}

.brand-logo{
    color:rgb(238, 233, 233);
    font-weight: bold;
    text-decoration: none;
    font-size: 36px;
}

.right{
    float: right;
    list-style-type: none;
}
.right li{
    float: left;
    text-decoration: none;
    color: #fff;
}
.right li a{
    text-decoration: none;
    color: rgb(115, 81, 131);
    padding: 10px;
    background: rgb(238, 233, 233);
    border-radius: 5px;
    margin: 10px;
}

.right li a:hover{
    color: rgb(238, 233, 233);
    background:  rgb(115, 81, 131);
}

.navbar .nav-container:after{
    content: "";
    display: block;
    clear: both;
}